

// @keyframes <- using for select animation

// animation <- line atribute, using for all atributes

// animation-name 

// animation-delay <- time of beginning animation

// animation-duration ms <- time of duration our animation

//animation-direction reverse / alternate /

.body{
    margin: 50px;
}

.simple-share{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 50px;
}


.one{
    background-color: deeppink;
}